a:hover {
    color: #fff !important;
}

div.widget {
    position: relative;
    background-color: #fcfdfd;
    border-radius: 9px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    max-width: 100%;
    width: 100%;
}

div.left-panel {}

div.date {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

div.city {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

div.temp {
    font-size: 81px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 100;
}

div.panel {
    display: inline-block;
}

div.right-panel {
    float: right;
    top: 0;
    right: 10px;
    margin-top: 20px;
    padding-left: 30px;
}

@media only screen and (min-width: 550px) {
    div.right-panel {
        position: absolute;
    }
}

header.masthead {
    z-index: 1;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to right top, #eca01d, #f0a12b, #f4a236, #f8a341, #fba44a, #fda553, #fea75b, #ffa863, #ffaa6c, #ffac76, #ffae7e, #ffb087);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead h1,
header.masthead .h1 {
    font-size: 2rem;
}

.light-text {
    right: 0;
    font-size: 13px;
    color: gray;
    font-weight: lighter;
}

.light-text-data {
    right: 0;
    font-size: 17px;
    color: darkgray;
    font-weight: normal;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAVBAR */

nav {
    z-index: 999;
    margin: 27px auto 0;
    position: relative;
    width: 300px;
    height: 50px;
    background-color: #34495e9c;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 100px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 100px;
}

a:nth-child(5) {
    width: 100px;
}

nav .start-1,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #008138;
}

nav .start-2,
a:nth-child(2):hover~.animation {
    width: 100px;
    left: 100px;
    background-color: #eca01d;
}

nav .start-3,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 200px;
    background-color: #455581;
}

nav .start-4,
a:nth-child(4):hover~.animation {
    width: 100px;
    left: 300px;
    background-color: #eca01d;
}

nav .start-5,
a:nth-child(5):hover~.animation {
    width: 100px;
    left: 400px;
    background-color: #eca01d;
}


/* FIN NAVBAR */